.page{
	width:100%;

}
.content{
	width: 840px;
	margin: 0 auto;

}
header{
	
	margin-top: 40px;
	margin-bottom: 50px;
}
.logo{
	display: inline-block;
	
}
.logo_title{
	display: inline-block;
	
}
.logo_img{
	display: inline-block;
	width: 20px;
	
	
}
.top_menu{
	display: inline-block;

}
.enter_button {
	display: inline-block;

	
}
.menu_button {
	display: inline-block;

}
.main_part{
	display: inline-block;
	width: 530px;
	height: 300px;
	vertical-align: top;
	margin-top: 40px;

}
.illustration{
	display: inline-block;
	width: 250px;
	height: 300px;
	vertical-align: top;
	margin-top: 40px;
	font-size: 40px;
	margin-left: 50px;


}
.title{
	font-size: 40px;
}
.buttons{
	margin-top: 40px;
}
.know_more{
	border-radius:28px;
	border:1px solid #98FB98;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	padding:10px 35px;
	text-decoration:none;
	
}

.know_more:hover {
	background-color:#5cbf2a;
}
.know_more:active {
	position:relative;
	top:1px;
}
.checkout{
	background-color:#98FB98;
	border-radius:28px;
	border:1px solid #98FB98;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	color:#00008B;
	padding:10px 35px;
	text-decoration:none;
	margin-left: 20px;
	
}

.checkout:hover {
	background-color:#5cbf2a;
}
.checkout:active {
	position:relative;
	top:1px;
}
