@font-face {
    font-family: Lato;
    src: url(Fonts/Lato2OFLWeb/Lato2OFLWeb/Lato/Lato-Regular.ttf) format('truetype');
}
html{
	font-family:Lato, Verdana;
	font-weight: normal;
	background-color: #dddddd;
	background-image:url(Images/Next_page_first.png), url(Images/Shopium_Landing_Table.png), url(Images/Shopium_Landing_first_page.png), url(Images/Shopium_Landing_Background.jpg);
	background-repeat: no-repeat;
	background-size:100%;


}
.page{
	width:100%;
	height:100%;
	padding: 0px;


}
.content{
	width: 860px;
	margin: 0 auto;
	position: relative;

}
header{
	
	margin-top: 45px;
	margin-bottom: 40px;
}
.logo{
	display: inline-block;
	
}
.logo_title{
	display: inline-block;
	font-size:20px;
	color: #ffffff;
	margin-left: 8px;	
}
.logo_img{
	display: inline-block;
	width: 18px;
	
	
}
.top_menu{
	display: inline-block;
	position: absolute;
	right: 0;
}
.menu_img{
	margin-right: 5px;
}
.enter_button {
	display: inline-block;
	margin-right: 20px;
	right: 100px;
	border-radius:14px;
	border:1px solid #aaaaaa;
	cursor:pointer;
	color:#ffffff;
	font-size:14px;
	padding:2px 10px;
	text-decoration:none;
	
	
}
.menu_button {
	display: inline-block;
	text-decoration:none;

	font-size:14px;
	color: #ffffff;
}

.main_part{
	display: inline-block;
	width: 530px;
	vertical-align: top;
	margin-top: 50px;

}
.illustration{
	display: inline-block;
	vertical-align: top;
	margin-top: 70px;
	margin-left: 0px;
	position: absolute;
	right: 0px;
}
.ill_title{
	font-size: 38px;
	display:inline-block;
	color: #fff;
}
.ill_title_number{
	font-size: 38px;
	color:#98FB98;
	display:inline-block;
}
.title_shopium{
	font-size: 38px;
	color:#98FB98;
}
.title_advantages{
	font-size: 38px;
	color:#ffffff;
}
.buttons{
	margin-top: 50px;
}
.know_more{
	border-radius:28px;
	border:1px solid #98FB98;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:12px;
	padding:15px 35px;
	text-decoration:none;
	
}

.know_more:hover {
	background-color:#5cbf2a;
}
.know_more:active {
	position:relative;
	top:1px;
}
.checkout{
	background-color:#98FB98;
	border-radius:28px;
	border:1px solid #98FB98;
	display:inline-block;
	cursor:pointer;
	font-size:12px;
	color:#00008B;
	padding:15px 35px;
	text-decoration:none;
	margin-left: 20px;

	
}

.checkout:hover {
	background-color:#5cbf2a;
}
.checkout:active {
	position:relative;
	top:1px;
}
.month_sales,.today_sales,.growth,.ill_bottom_title{
	font-size:10px;
	color: #fff;
}
.month_sales{
	margin-top: 40px;
}
.today_sales,.growth{
	margin-top: 15px;
	color: #fff;
}
.month_sales_number, .today_sales_number{
	width:70px;
	height: 30px;
	border-bottom: #98FB98 solid;
	border-width: 0.1px;
	color:#fff;
	font-size: 20px;
}
.growth_number{
	width:70px;
	height: 30px;
	color:#98FB98;
	font-size: 20px;
}
.ill_bottom_title{
	margin-top: 30px;
	font-size: 9px;
}
.next_page{
	margin-top: 185px;
	text-align: center;
}
.next_page_first{
	text-decoration: none;
	color: #000;
	font-size: 14px;
	
}

.title_second{
	margin-top: 35px;
	margin-bottom: 30px;
	font-size: 36px;
	text-align: center;

}

.opportunity_icon, .new_clients_icon, .new_checkout_icon, .profit_icon{
	display: inline-block;
	
}
.images_second_page{
	margin-top: 70px;
}
.text_second_page{
	text-align: center;
	margin-top: 140px;
}
.opportunity_text, .new_clients_text, .new_checkout_text, .profit_text, .arrow_first, .arrow_second, .arrow_third{
	display:inline-block;
	vertical-align: top;
	text-align: left;
	margin-left: 10px;
	font-size: 18px;
}
.opportunity_icon{
	position:absolute;
	left: 110px;
}
.new_clients_icon{
	position:absolute;
	left: 415px;
} 
.new_checkout_icon{
	position:absolute;
	left: 560px;
} 
.profit_icon{
	position:absolute;
	left: 690px;	
}
.opportunity_question{
	
	margin: 50px auto;
	border-radius:28px;
	border:1px solid #98FB98;
	padding: 15px 25px;
	display: inline-block;
	font-size: 14px;
}
.next_page_second{
	text-decoration: none;
	color: #000;
	font-size: 14px;
	text-align: center;
	margin-top: 20px;